</div>
<div class="flex items-center justify-center w-full">
    <div class="h-[3rem] rounded-lg w-[70%] bg-[#111111] flex items-center justify-center">
        <div class="w-[90%] text-white text-xs font-poppins">
            <p>Made by regex</p>
        </div>
    </div>
</div>
<br>
</body>
</html>