<%- include('partials/nav') -%>
<div class="flex items-start justify-center py-10 flex-grow w-full">
    <form action="/admin/book/new" method="post" class="w-full mid-small2:w-[70%]">
        <div class="flex flex-col items-center justify-center w-full gap-10">

            <% if (errorMessages && errorMessages.length > 0) { %>
                <div class="h-[4rem] bg-red-500 min-w-[40%] px-5 rounded-lg flex items-center justify-center text-white">
                    <% errorMessages.forEach(message => { %>
                        <p><i class="fa-solid fa-triangle-exclamation pr-2"></i> <%= message %></p>
                    <% }); %>
                </div>
            <% } %>
            
            <% if (successMessages && successMessages.length > 0) { %>
                <div class="h-[4rem] bg-green-500 min-w-[40%] px-5 rounded-lg flex items-center justify-center text-white">
                    <% successMessages.forEach(message => { %>
                        <p><i class="fa-solid fa-check pr-2"></i> <%= message %></p>
                    <% }); %>
                </div>
            <% } %>
            <div class="min-h-[35rem] py-5 flex flex-col items-center justify-center rounded-lg w-[95%] mid-small3:w-[80%] 800px:w-[60%] 1200px:w-[40%] bg-[#111111] font-poppins gap-3">
                <div class="flex flex-col items-start justify-center w-[85%] gap-1">
                    <p class="text-white text-xs">Title</p>
                    <input type="text" class="h-14 rounded-lg w-full bg-[#000000] border-0 text-white pl-2" name="title" id="">
                </div>
                <div class="flex flex-col items-start justify-center w-[85%] gap-1">
                    <p class="text-white text-xs">Author</p>
                    <input type="text" class="h-14 rounded-lg w-full bg-[#000000] border-0 text-white pl-2" name="author" id="">
                </div>
                <div class="flex flex-col items-start justify-center w-[85%] gap-1">
                    <p class="text-white text-xs">Cover URL</p>
                    <input type="text" class="h-14 rounded-lg w-full bg-[#000000] border-0 text-white pl-2" name="coverurl" id="">
                </div>
                <div class="flex flex-col items-start justify-center w-[85%] gap-1">
                    <p class="text-white text-xs">Description</p>
                    <textarea type="text" class="h-32 rounded-lg w-full bg-[#000000] border-0 text-white pl-2" name="description" id=""></textarea>
                </div>
                <button class="h-10 px-10 rounded-lg font-poppins bg-white" type="submit">Submit</button>

            </div>
        </div>
    </form>
</div>
<%- include('partials/foot') -%>
