<%- include('partials/nav') -%>
<div class="flex items-start justify-center flex-grow w-full">

    <div class="w-[70%] flex items-start justify-center mt-10">
        <div class="grid grid-cols-5 items-center justify-center w-full gap-5">
            <a href="#" class="group cursor-pointer relative min-h-[23rem] rounded-lg bg-[url('/images/bg.png')] bg-center bg-cover flex flex-col items-center justify-end w-full border-2 border-[#242424] transition-transform duration-300 ease-in-out transform hover:scale-105">
                <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 transition-opacity duration-300 ease-in-out rounded-lg"></div>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                    <p class="text-xl text-white"><i class="fa-solid fa-link"></i></p>
                </div>
                <div class="w-full flex flex-col items-center justify-end text-white rounded-b-lg h-[10rem] bg-gradient-to-b from-transparent to-black font-poppins">
                    <div class="w-[90%] flex items-start justify-center flex-col gap-2 pb-3">
                        <p>Harry Potter and the Philosopher's Stone</p>
                        <div class="px-3 bg-green-500 rounded-full text-xs">
                            <p>Available</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="group cursor-pointer relative min-h-[23rem] rounded-lg bg-[url('/images/bg.png')] bg-center bg-cover flex flex-col items-center justify-end w-full border-2 border-[#242424] transition-transform duration-300 ease-in-out transform hover:scale-105">
                <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 transition-opacity duration-300 ease-in-out rounded-lg"></div>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                    <p class="text-xl text-white"><i class="fa-solid fa-link"></i></p>
                </div>
                <div class="w-full flex flex-col items-center justify-end text-white rounded-b-lg h-[10rem] bg-gradient-to-b from-transparent to-black font-poppins">
                    <div class="w-[90%] flex items-start justify-center flex-col gap-2 pb-3">
                        <p>Harry Potter and the Philosopher's Stone</p>
                        <div class="px-3 bg-green-500 rounded-full text-xs">
                            <p>Available</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="group cursor-pointer relative min-h-[23rem] rounded-lg bg-[url('/images/bg.png')] bg-center bg-cover flex flex-col items-center justify-end w-full border-2 border-[#242424] transition-transform duration-300 ease-in-out transform hover:scale-105">
                <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 transition-opacity duration-300 ease-in-out rounded-lg"></div>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                    <p class="text-xl text-white"><i class="fa-solid fa-link"></i></p>
                </div>
                <div class="w-full flex flex-col items-center justify-end text-white rounded-b-lg h-[10rem] bg-gradient-to-b from-transparent to-black font-poppins">
                    <div class="w-[90%] flex items-start justify-center flex-col gap-2 pb-3">
                        <p>Harry Potter and the Philosopher's Stone</p>
                        <div class="px-3 bg-green-500 rounded-full text-xs">
                            <p>Available</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="group cursor-pointer relative min-h-[23rem] rounded-lg bg-[url('/images/bg.png')] bg-center bg-cover flex flex-col items-center justify-end w-full border-2 border-[#242424] transition-transform duration-300 ease-in-out transform hover:scale-105">
                <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 transition-opacity duration-300 ease-in-out rounded-lg"></div>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                    <p class="text-xl text-white"><i class="fa-solid fa-link"></i></p>
                </div>
                <div class="w-full flex flex-col items-center justify-end text-white rounded-b-lg h-[10rem] bg-gradient-to-b from-transparent to-black font-poppins">
                    <div class="w-[90%] flex items-start justify-center flex-col gap-2 pb-3">
                        <p>Harry Potter and the Philosopher's Stone</p>
                        <div class="px-3 bg-green-500 rounded-full text-xs">
                            <p>Available</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="group cursor-pointer relative min-h-[23rem] rounded-lg bg-[url('/images/bg.png')] bg-center bg-cover flex flex-col items-center justify-end w-full border-2 border-[#242424] transition-transform duration-300 ease-in-out transform hover:scale-105">
                <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-80 transition-opacity duration-300 ease-in-out rounded-lg"></div>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out">
                    <p class="text-xl text-white"><i class="fa-solid fa-link"></i></p>
                </div>
                <div class="w-full flex flex-col items-center justify-end text-white rounded-b-lg h-[10rem] bg-gradient-to-b from-transparent to-black font-poppins">
                    <div class="w-[90%] flex items-start justify-center flex-col gap-2 pb-3">
                        <p>Harry Potter and the Philosopher's Stone</p>
                        <div class="px-3 bg-green-500 rounded-full text-xs">
                            <p>Available</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<%- include('partials/foot') -%>
