<%- include('partials/nav') -%>
<div class="flex items-center justify-center flex-grow w-full">
    <div class="min-h-[25rem] w-[95%] 450peeeexxx:w-[80%] mid-small2:w-[60%] 700px:w-[40%] 4k-lowest:w-[20%] bg-[#111111] flex items-center justify-center gap-10 flex-col font-poppins rounded-lg">

        <% if (errorMessages && errorMessages.length > 0) { %>
            <div class="h-[4rem] bg-red-500 min-w-[40%] px-5 rounded-lg flex items-center justify-center text-white">
                <% errorMessages.forEach(message => { %>
                    <p><i class="fa-solid fa-triangle-exclamation pr-2"></i> <%= message %></p>
                <% }); %>
            </div>
        <% } %>
        
        <% if (successMessages && successMessages.length > 0) { %>
            <div class="h-[4rem] bg-green-500 min-w-[40%] px-5 rounded-lg flex items-center justify-center text-white">
                <% successMessages.forEach(message => { %>
                    <p><i class="fa-solid fa-check pr-2"></i> <%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <p class="text-3xl text-white">Log In</p>

        <form action="/login" method="post" class="flex flex-col items-center w-full justify-center gap-5">
            <div class="flex flex-col text-white items-start justify-center w-[90%] gap-1">
                <p class="text-xs">E-mail</p>
                <input required name="email" type="email" class="h-12 w-[100%] rounded-lg bg-black text-white pl-2">
            </div>
            <div class="flex flex-col text-white items-start justify-center w-[90%] gap-1">
                <p class="text-xs">Password</p>
                <input required name="password" type="password" class="h-12 w-[100%] rounded-lg bg-black text-white pl-2">
            </div>
            <div class="flex flex-col items-center justify-center w-full gap-2">
                <button class="h-12 w-[90%] rounded-xl bg-white" type="submit">Submit</button>
                <p class="text-xs text-white">Need an account? <a class="text-blue-500" href="/login">Sign up here</a>
                </p>
            </div>
        </form>
    </div>

</div>

<%- include('partials/foot') -%>